<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width-device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title></title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
<!-- <a class="navbar-brand" href="#">
<img src="assets/img/juicehouse.png" alt="" class="img-responsive" />
</a> 
Room For LOGO
-->
</div>
<div class="navbar-collapse collapse navbar-right scroll-me">
    <ul class="nav navbar-nav ">
        <li><a href="#home">Home</a></li>
        <li><a href="#services">About</a></li>
        <li><a href="#works">Menu</a></li>
        <li><a href="#contact">Contact</a></li>
        <li> <a href="https://www.lavutogo.com/juicehouse">Order Now</a> </li>
    </ul>
</div>

</div>
</div>

<div id="home">
    <div class="overlay">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 text-center">

                <h1 id="boom">The Juice House</h1>
                <h2>Delicious Cuban Food </h2>
                <p class="p-cls">
                    MON - SAT 5:00 AM - 8:00 PM
                    <BR>
                        SUN 6:00 AM - 6:00 AM 
                    </p>
                </div>

            </div>
        </div>

    </div>
    <section id="services">
        <div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">Welcome, we're glad you made it.  </h2>
                    <p>
                        Locally famous for our Great Cuban sandwich, Rich Cuban Coffee and "keyzy" atmosphere.
                    </p>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-cutlery fa-5x"></i>
                    <h4 class="head-set">Unrivaled Cuban Food</h4>
                    <p>
                        We take much pride in the traditions in our recipes, thats why each meal is prepared just the we like them for ourselves. 
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-star fa-5x"></i>
                    <h4 class="head-set">What are you waiting for </h4>
                    <p>
                        It's a no brainer, stop by, have a bite and dont forget some coffee. 
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-coffee fa-5x"></i>
                    <h4 class="head-set">How Coffee is done</h4>
                    <p>
                        This is the stuff that gets you out of bed in the morning. Rest assured we know coffee.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="parallax-like">
        <div class="overlay">


            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div>
                            <strong>100+</strong>
                            <p>
                                Menu Items
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div>
                            <strong>20+</strong>
                            <p>
                                Coffee, Shakes, Smoothies, and of Course Juices
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 ">
                        <div>
                            <strong>Unlimited</strong>
                            <p>
                                Good Times
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <section id="works">
        <div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">OUR MENU</h2>
                    <p>
                        Be Sure to check out our available weekly meal deals. Eat cuban all week, what could be better.
                        <br>
                        <br>
                        Also be sure to place your order ahead of time
                        <br>
                        <a class="btn btn-primary" href="https://www.lavutogo.com/juicehouse">Get Started</a>
                    </p>
                </div>
            </div>
            <div class="row text-center portfolio-item">

               <div class="col-md-4 col-sm-4">
                    <div class="alert alert-info">
                        <img class="btn img-responsive" data-toggle="modal" data-target="#Modal_menu" src="assets/img/menu1.jpg" class="img-responsive " alt="" />
                        </button>
                        <h3>Menu</h3>
                        <h5></h5>
                    </div>
                </div>


                    <div class="col-md-4 col-sm-4">
                        <div class="alert alert-info">
                                <img class="btn img-responsive" data-toggle="modal" data-target="#Modal_catering_menu" src="assets/img/menu2.jpg" class="img-responsive " alt="" />
                            </button>
                            <h3>Catering Menu</h3>
                            <h5></h5>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-4">
                        <div class="alert alert-info">
                                <img class="btn img-responsive" data-toggle="modal" data-target="#Modal_cantina_menu" src="assets/img/menu2.jpg" class="img-responsive " alt="" />
                            </button>
                            <h3>Cantina (Weekly) Menu</h3>
                            <h5></h5>
                        </div>
                    </div>
            </div>
        </div>
</section>

<!--  <div id="video-sec" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=Ycv5fNd4AeM',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1,mute: true,showControls:false}">

<div class="overlay">
<div class="container">
<div class="row text-center">
<div class="col-md-12">
<h1>HERE IS BACKGROUND VEDIO</h1>
<h4>This scripts uses plugin <strong>jquery.mb.YTPlayer</strong>

</h4>
<h4>to play video in background of divs

</h4>
</div>
</div>
</div>
</div>
</div> -->


<section id="contact">
    <div class="container">
        <div class="row text-center ">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                <h2 class="head-set">OUR LOCATION</h2>
                <p>
                    Right on Us1, MM103 Bayside in the same plaza as Num Thai
                </p>
                <br />
            </div>
        </div>
        <div class="row text-center">


            <div class="col-md-12">
                <h3>103200 Overseas HWY</h3>
                <h3>Key Largo, Fl 33037</h3>
                <h3>305-451-4270</h3>
                <div id="little-screen" class="little-screen">
                    <a class="btn btn-primary" href="tel:305-451-4270"><strong>Call Us</strong></a>

                </div>
            </div>

        </div>
    </div>
</section>



<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
</script>
<!-- Modal for Normal Menu  -->
<!-- Modal for Normal Menu  -->
<!-- Modal for Normal Menu  -->
<!-- Modal for Normal Menu  -->
<div id="Modal_menu" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Menu</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#big1">Page1</a></li>
            <li><a data-toggle="tab" href="#big2">Page 2</a></li>
            <li><a data-toggle="tab" href="#big3">Page 3</a></li>
            <li><a data-toggle="tab" href="#big4">Page 4</a></li>
        </ul>

        <div class="tab-content">
            <div id="big1" class="tab-pane fade in active">
                <img class="img-responsive" src="assets/img/jh-menu-p1/jh-big-1.png">
            </div>
            <div id="big2" class="tab-pane fade">
               <img class="img-responsive"  src="assets/img/jh-menu-p1/jh-big2.png">
            </div>
            <div id="big3" class="tab-pane fade">
                <img class="img-responsive" src="assets/img/jh-menu-p1/jh-big3.png">
            </div>
             <div id="big4" class="tab-pane fade">
                <img class="img-responsive" src="assets/img/jh-menu-p1/jh-big4.png">
            </div>
        </div>
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

                      
              
<!-- Modal for Cantina Menu -->
<!-- Modal for Cantina Menu -->
<!-- Modal for Cantina Menu -->
<!-- Modal for Cantina Menu -->
<div id="Modal_cantina_menu" class="modal fade" role="dialog">
  <div class="modal-dialog">

    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Catering Menu</h4>
      </div>
      <div class="modal-body jumbotron">
      <img class="img-responsive" src="assets/img/cantina_menu.jpg">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal for Caterina Menu -->
<!-- Modal for Caterina Menu -->
<!-- Modal for Caterina Menu -->
<!-- Modal for Caterina Menu -->
<div id="Modal_catering_menu" class="modal fade" role="dialog">
  <div class="modal-dialog">

    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cantina - Weekly Menu</h4>
      </div>
      <div class="modal-body jumbotron">
        <img class="img-responsive" src="assets/img/catering.jpg">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<footer>
    © 2015 The Juice House  | <a href="http://www.designbootstrap.com/" target="_blank">siteby: <span> <a href="http://www.deepbluedev.co">deepBlueDev</a> </span></a>
</footer>
<!-- FOOTER SECTION END-->
<!-- REQUIRED SCRIPTS FILES -->
<!-- CORE JQUERY FILE -->
<script src="assets/js/jquery-1.11.1.js"></script>
<!-- REQUIRED BOOTSTRAP SCRIPTS -->
<script src="assets/js/bootstrap.js"></script>
<!-- BACKGROUND VIDEO PLUGIN  -->
<script src="assets/js/jquery.mb.YTPlayer.js"></script>
<!-- SCROLLING SCRIPTS PLUGIN  -->
<script src="assets/js/jquery.easing.min.js"></script>
<!-- CUSTOM SCRIPTS   -->
<script src="assets/js/custom.js"></script>

</body>
</html>
